
.profile-page {
    height: 100%;
}

.profile-header {
    width: 100%;
    height: 44px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #000000;
    z-index: 10;
}

.profile-header-left-section {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-header-middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profile-header-right-section {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-about-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.profile-about-upper {
    display: flex;
    height: 105px;
}

.profile-about-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
}

.profile-about-upper-right-container {
    flex: 1;
    padding: 0 14px;
    display: flex;
    flex-direction: column;
}

.profile-about-account-name-container {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profile-about-account-name {
    font-size: 22px;
}

.profile-about-buttons-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
}

.flex-1 {
    flex: 1;
}

.profile-about-buttons {
    background-color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 7px 16px;
    border-radius: 8px;
}

.pg-5-10 {
    padding: 5px 10px;
}

.profile-about-lower {
    padding: 0 16px;
}

.profile-about-bio-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.profile-about-bio-account-name {
    font-weight: bold;
    font-size: 15px;
}

.profile-about-bio-text {
    font-size: 14px;
    line-height: 18px;
}

.profile-status-container {
    display: flex;
    padding: 15px 40px;
    column-gap: 70px;
}

.count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-tab-list {
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
}

.profile-post-container {
    padding-bottom: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 122px);
    column-gap: 4px;
    row-gap: 4px;
    background-color: transparent;
}

.post-thumbnail-container {
    height: 122px;
    position: relative;
}

.thumbnail-play-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 25px;
    height: 25px;
}

.post-thumbnail-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-profile-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.change-photo-main-container {
    padding: 26px 12px;
}

.change-photo-container {
    background-color: rgb(38, 38, 38);
    height: 88px;
    border-radius: 20px;
    display: flex;
}

.change-photo-container > .photo-container {
    height: 100%;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-photo-container > .photo-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    row-gap: 2px;
}

.photo-details-container > button {
    background-color: transparent;
    border: none;
    text-align: left;
    color: rgb(0, 149, 246);
    font-weight: bold;
    font-size: 15px;
}

.change-website-main-container {
    padding: 8px 12px;
}

.change-website-container > .website-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    row-gap: 15px;
}

.website-form > .website-input {
    padding: 4px 15px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(38, 38, 38);
    font-size: 18px;
}

.website-input::placeholder {
    color: rgb(167, 164, 164);
}

.change-bio-main-container {
    padding: 20px 12px;
}

.change-bio-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-weight: bold;
    font-size: 17px;
}

.change-bio-container > .bio-textarea {
    color: white;
    background-color: transparent;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.submit-button-container {
    display: flex;
    justify-content: end;
    padding: 10px 12px;
}

.submit-button-container > button {
    background-color: rgb(0, 149, 246);
    border: none;
    padding: 13px 100px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}

.submit-button-container > button.disable {
    background-color: rgba(0, 148, 246, 0.308);
    color: rgba(255, 255, 255, 0.075);
    border: none;
    padding: 13px 100px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}