* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI";
}

html, body, #root {
  height: 100%;
  background-color: #000000;
}

.auth-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-main-container > h1.headline {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(191, 224, 235);
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-main-container > .bottom-button {
  background-color: transparent;
  border: 2px solid lightblue;
  padding: 15px;
  font-size: 17px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
}

.container-form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.container-form-elements > input {
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  font-size: 17px;
}

.container-form-elements > button {
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  background-color: blue;
  width: 100%;
  font-size: 17px;
}


.footer-container {
  background-color: #000000;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(44, 44, 44);
  display: flex;
  padding: 0 10px;
}

.footer-icon-container {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid rgb(54, 54, 54);
}

.border-top {
  border-top: 1px solid rgb(54, 54, 54);
}

.display-none {
  display: none;
}

.text-color-red {
  color: rgb(237, 73, 86);
}

a {
  text-decoration: none;
}

.bg-color-blue {
  background-color: rgb(0, 149, 246);
}

.bg-color-gray {
  background-color: rgb(38, 38, 38);
}

.bg-color-gray-disabled {
  background-color: rgba(38, 38, 38, 0.315);
  color: rgba(255, 255, 255, 0.164);
}

.font-size-17 {
  font-size: 17px;
}

.pTop-45 {
  padding-top: 45px;
}

.border-container {
  border: 1px solid white;
}

.disabled-button {
  opacity: 0.2;
}

.pBottom-100 {
  padding-bottom: 100px;
}